html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 40px;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para la Cabecera de la Página Web: */
header {
    background-color: rgb(207, 255, 162);
    margin-bottom: 50px;
    height: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

nav ul li {
    display: inline-block;
    height: 100%;
}

nav ul li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 25px 20px;
    font-size: 12px;
    font-weight: bolder;
}

nav ul li a:hover {
    background-color: #4e913a;
    text-decoration: none;
    color: black;
}

nav ul li.inicio {
    margin-right: auto;
}

.inicio a {
    background-color: rgb(207, 255, 162);
    margin-left: 10px;
    padding: 0px;
    font-size: 20px;
    font-family: monospace;
}

.inicio a:hover {
    background-color: rgb(207, 255, 162);
}

.inicio a::first-letter {
    font-size: 30px;
    font-weight: bolder;
}

.inicio span {
    color: #51933e;
    font-style: italic;
}

/*.inicio img {
    height: 40px;
    width: 120px;
}*/

/* Estilos para el Pie de la Página Web: */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(207, 255, 162);
    text-align: center;
}

footer p {
    margin: auto;
    padding: 5px;
    font-size: 15px;
}

/* Estilos para el Carousel: */
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 200px;
    overflow: hidden;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.carousel-slide {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

img {
    width: 1200px;
    height: 620px;
}

#myCarousel {
    box-shadow: 10px 10px 15px rgb(207, 255, 162);
}

main {
    min-height: 100vh;
}

/* Descripción: */
.descripcion {
    margin: 30px;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 30px;
    margin-top: 50px;
}

.descripcion h1 {
    text-align: center;
    font-style: italic;
    color: #51933e;
    font-size: 45px;
}

.descripcion p {
    text-indent: 25px;
    font-family: cursive;
}