body {
    background-color: antiquewhite;
}

#forma {
    width: 200px;
    height: 200px;
    background-color: red;
    display: none;
    position: relative;
    top: 100px;
    left: 200px;
    border: 3px solid black;
}

.bold {
    font-weight: bold;
}

h1 {
    text-align: center;
}





/* © Sergio Bejarano Arroyo */