#circulo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background-color: red;
}

#cuadrado {
    width: 100px;
    height: 100px;
    background-color: yellow;
}





/* © Sergio Bejarano Arroyo */