body {
    background-color: rgb(223, 236, 255);
}

h1 {
    text-align: center;
}

.cajaPrincipal {
    margin: auto;
    width: fit-content;
}

.tablaIncidencias, td, tr {
    border-collapse: collapse;
    border: 2.5px #bdbdbd solid
}

.tablaIncidencias {
    background-color: rgb(106, 160, 240);
}

tr:hover {
    background-color: #a9c1bf;;
}

img {
    width: 20px;
}

.tituloColumna {
    background-color: black;
    color: white;
    font: oblique bold 15px cursive;
    padding: 5px;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

.datos {
    font-family: monospace;
    padding: 5px;
}

.acciones {
    text-align: center;
}

.totalFilas {
    width: 99%;
    font-style: oblique;
    padding: 5px;
    font-weight: bolder;
}

.controlSesion {
    text-align: right;
}

footer {
    text-align: center;
    color: #00000087;
    font-style: oblique;
    font-family: sans-serif;
}





/* © Sergio Bejarano Arroyo */