body {
    background-color: azure;
}

h1, h6 {
    text-align: center;
    margin: 0px;
}

.error {
    color: red;
}

.cajaPrincipal {
    margin: auto;
    width: fit-content;
    border: 1px solid black;
    margin-top: 5%;
    padding: 1%;
    border-radius: 25px;
    background-color: #0000006b;
    width: 25%;
}

.logotipo {
    text-align: center;
}

label {
    font-family: monospace;
    font-size: 20px;
}

input[name="usuario"], input[name="contrasena"] {
    width: 99%;
    font-style: oblique;
    font-family: system-ui;
}

input:hover {
    background-color: #ced5ff;
}

input[name="submit"] {
    font-size: 20px;
}

.iniciarSesion {
    font-size: 18px;
    text-align: center;
}

footer {
    text-align: center;
    color: #00000087;
    font-style: oblique;
    font-family: sans-serif;
    margin: 20px;
}





/* © Sergio Bejarano Arroyo */