#resultados {
    font-size: 25px;
    color: blue;
    font-weight: bold;
}

#redSocial {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}





/* © Sergio Bejarano Arroyo */